{
  "env": {
    "browser": true, // Enables browser globals like window and document
    "jest/globals": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:testing-library/react",
    "plugin:jest/all",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "error",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  }
}
